body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
}


h1 {
    line-height: 0;
    text-indent: -9999px;

}

h1.page {
    text-align:center;
    color:#4B66B0;
    width:100%;
    margin-top:2rem;
    line-height: normal;
    text-indent: 0px;
    font-size:3rem;
}

h2 {
    /* font-family:'Share Tech', sans-serif; */
    text-align:center;
    color:#4B66B0;
    width:100%;
    margin-top:2rem;
}

h3 {
    position:relative;
    font-size: 1.5rem;
}

h3.index:after {
    content:"";
    position: absolute;
    border-bottom:1px solid #B963A7;
    width:50%;
    display:block;
    left:25%;
}

p {
    font-size:1.25rem;
    font-weight: 350;
}

p.four-hundred {
    font-weight:400;
}

.italic {
    font-style: italic;
    font-size:1.1rem;
}

a {
    color:#4B66B0;
    border-bottom: 1px solid #4B66B0;
}

.member {
    text-align: center;
    padding:1rem .25rem 0 .25rem;
}

.board {
    text-align: center;
}

.board p {
    font-weight: 400;
}

/* .sticky-container {
    text-align:center;
    margin-bottom: 3rem;
    background:#fff;
} */

/* .sticky-container img {
    width:33%;

} */

/* .is-stuck img {
    width:25%;
    margin-bottom: 1rem;
} */

.bar {
    background-color: #fff;
    text-align:center;
    background:#fff;
}
.bar img {
    max-width:90%;
}
@media screen and (min-width: 40em) {
.bar img {
    width:33%;
}
}



/* .top-bar-right ul {
    margin:.5rem 0;
    font-size:1.5rem;
    margin-left:41%;
} */

/* .is-selected {
    border-bottom:1px solid #B963A7;
} */

/* .anchor {
    scroll-margin-top:362px;
} */

/* #where, #who {
    padding-top:1rem;
} */

footer {
    border-top:1px solid #B963A7;
    padding:2rem 0;
    margin-top:2rem;
    margin-left: 16.66667%;
    margin-right: -15;
}

.img-link {
    border: none;
}

p.neh-text {
    font-weight: 100;
    font-size:.75rem;
    font-style: italic;
}
.contact {
    text-align:right;
}
.center {
    text-align: center;
}
.button {
    margin-bottom: 1.5rem;
    background-color:#B963A7;
    font-size:1.5rem;
}

.button:hover, .button:active, .button:focus {
    background-color:#A85A98;
}

.grid-container {
    padding-top:2rem;
}

@media screen and (min-width: 40em) {
    .grid-container {
        padding-top:4rem;
    }
}

.large-p {
    font-size:2rem
}

.grid-container.nav{
    padding-top:1rem;
}

.page{
    max-width:90%;
}