<!DOCTYPE html>
<html>
  {{ partial "head" . }}
  <body>
    {{ partial "header" . }}
    <div>
        <div class="bar">
          <h1>DataScribe</h1>
          <img class="center" src="{{ .Site.BaseURL }}img/datascribe-logo.png" alt="Logo for DataScribe">
        </div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-8 medium-offset-2 cell">
          <div class="anchor" id="what">
            <div class="center">

            <p class="large-p">A structured data transcription module for the <a href="https://omeka.org/s/">Omeka S platform</a>.</p>

              <a href="https://github.com/chnm/Datascribe-module/releases/download/v1.0.0-beta/Datascribe-1.0.0-beta.zip" class="button">Download DataScribe!</a>
            </div>

            <p class="four-hundred">Download the ZIP, move it to the Omeka S modules/ directory, and unzip it there. Then go to your Omeka S installation under "Modules" and install DataScribe there.</p>
            

            <p class="four-hundred">You can also consult the <a href="https://github.com/chnm/Datascribe-module/wiki">documentation</a> or file <a href="https://github.com/chnm/Datascribe-module/issues">issues</a>.</p>

            <h2>What is DataScribe?</h2>

            <p>Scholars often collect sources, such as government forms or institutional records, intending to transcribe them into datasets which can be analyzed or visualized. This module enables scholars to identify the structure of the data within their sources, speed up the transcription of their sources, and reliably structure their transcriptions in a form amenable to computational analysis. Scholars can turn sources into tables of data stored as numbers, dates, categories, and more. Because this module builds on the Omeka S platform, it allows scholars to display transcriptions alongside the source images and metadata, to crowdsource transcriptions, and to publish their results on the web.</p>

          

            <p class="italic">DataScribe has been made possible in part by a major grant from the National Endowment for the Humanities: Exploring the human endeavor.
            </p>
          </div>

          <div class="anchor grid-x small-up-2 medium-up-3 align-spaced" id="who">
            <h2>Project Team</h2>
            <div class="member cell">
              <h3 class="index">Ken Albers</h3>
              <p>Developer</p>
            </div>
            <div class="member cell">
              <h3 class="index">Megan Brett</h3>
              <p>Outreach Coordinator</p>
            </div>
            <div class="member cell">
              <h3 class="index">Daniel Howlett</h3>
              <p>Graduate Research Assistant</p>
            </div>
            <div class="member cell">
              <h3 class="index">Lincoln Mullen</h3>
              <p>Co-Director</p>
            </div>
            <div class="member cell">
              <h3 class="index">Kim Nguyen</h3>
              <p>Designer</p>
            </div>
            <div class="member cell">
              <h3 class="index">Jessica Otis</h3>
              <p>Co-Director</p>
            </div>
            <div class="member cell">
              <h3 class="index">Jim Safley</h3>
              <p>Developer</p>
            </div>
          </div>
          
          <div class="grid-x">
            <h2>Advisory Board</h2>
            <div class="board medium-3">
              <p>Kalani Craig</p>
            </div>
            <div class="board medium-3">
              <p>Sharon Leon</p>
            </div>
            <div class="board medium-3">
              <p>Jeff McClurken</p>
            </div>
            <div class="board medium-3">
              <p>Luca Scholz</p>
            </div>
          </div>
          {{ partial "footer" . }}
        </div>
      </div>
    </div>
  </body>
</html>