
    <a href="#content" class="show-on-focus">Skip to main content</a>
    <header>
<!--       <div class="title-bar" data-responsive-toggle="navmenu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle="navmenu"></button>
        <div class="title-bar-title">Menu</div>
      </div> -->

      <div id="navmenu">
      <ul class="dropdown menu" data-dropdown-menu>
        <li><a href="/">Home</a></li>
        <li><a href="/resources/">Resources</a>
          <ul class="menu">
            <li><a href="/resources/casestudies/">Case studies</a></li>
          </ul></li>
        <li><a href="/support/">Support</a>
          <ul class="menu">
            <li><a href="/support/planning/">Project planning</a></li>
             <li><a href="/support/quickstart/">QuickStart</a></li>
              <li><a href="https://github.com/chnm/Datascribe-module/wiki">User manual</a></li>
            <li><a href="https://forum.omeka.org/c/omeka-s/modules/22">Omeka forum</a></li>
          </ul>
        </li>
        <li><a href="/about/">About</a></li>
      </ul>
    </div>
    </header>

