
    <a href="#content" class="show-on-focus">Skip to main content</a>
    <header>
      <div id="navmenu">
      <ul class="dropdown menu" data-dropdown-menu>
        <li><a href="/">Home</a></li>
        <!--Resources Section-->
        <li class="is-dropdown-submenu-parent"><a href="/resources/">Resources</a>
          <ul class="menu">
            <li><a href="/resources/casestudies/">Case studies</a></li>
          </ul>
        </li>
         <!--Support Section-->
        <li class="is-dropdown-submenu-parent"><a href="/support/">Support</a>
          <ul class="menu">
            <li><a href="/support/planning/">Project planning</a></li>
             <li><a href="/support/quickstart/">QuickStart</a></li>
              <li><a href="https://github.com/chnm/Datascribe-module/wiki">User manual</a></li>
            <li><a href="https://forum.omeka.org/c/omeka-s/modules/22">Omeka forum</a></li>
          </ul>
        </li>
         <!--About page-->
        <li><a href="/about/">About</a></li>
      </ul>
    </div>
    </header>

