<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="content">

            {{ with .Site.GetPage "/help" }}
            {{ $help := . }}
            {{ $pages := .Resources.ByType "page" }}
    
            {{ with .Site.GetPage "/news" }}
                {{ $pages = $pages | append . }}
            {{ end }}
    
            {{ range sort $pages "Params.weight" }}
            {{ end }}
            {{ end }}


        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>