
{{ define "main" }}
<div class="grid-container">  
    <div class="grid-x grid-padding-x">
    <div class="medium-8 cell medium-offset-2">
       <h1 class="page">{{ .Title }}</h1> 

        {{ .Content }}
            <!-- Ranges through content/posts/*.md as paragraphs -->
            <div id="pagelist">
            {{ range .Pages }}
                   <p><a href="{{.Permalink}}">{{.Title}}</a>: {{.Summary}}</p>
            {{ end }}
            </div>

            <hr>

        <!-- Ranges through content/posts/*.md -->
          <div id="pagelist">
            <ul>
            {{ range .Pages }}
              <li><a href="{{.Permalink}}">{{.Title}}</a>, {{.Summary}}</li>
             {{ end }}
            </ul>
            </div>
    </div>  
  </div>
</div>
{{ end }}